<div class="contain p-0">
    <form #taskForm="ngForm" novalidate (ngSubmit)="submit()">
        <div class="row   my-3">
            <label class="col-2 text-dark "> Task:</label>
            <input class=" col-6  " type="text" name="name" #name="ngModel" [(ngModel)]="TaskModel.name" />
        </div>
        <div class="row my-3">
            <label class=" col-2 text-dark ">status :</label>

            <select class="col-6  " name="status" #status="ngModel" [(ngModel)]="TaskModel.status">
                <option *ngFor=" let option of Options"    value="{{option}}"
                [selected]="option==TaskModel.status"
                >
                    {{option}}
                </option>
            </select>
        </div>
        <div class="row mt-3 d-flex justify-content-start">
            <button type="submit"   class="btn btn-outline-primary ml-1 col-2 mx-3 _btn" >
                <i class="fa fa-close" ></i>submit</button>
            <button type="button" 
            class="btn btn-outline-dark ml-1 col-2 _btn" [mat-dialog-close]><i class="fa fa-close"></i>
                Close</button>
        </div>
    </form>
</div>